{% extends "base.html" %}

{% block head_content %}
{% endblock %}

{% block body_content %}

<section>
  <div class="form" id="upload">
    <p><b>Upload New File</b></p>
    <form method='POST' action='{{ url_for('tool1.analyse') }}' enctype="multipart/form-data">
      {{ multipleForm.csrf_token }}
      {{ multipleForm.multipleFile.label }}
      {{ multipleForm.multipleFile() }}
      {% for error in multipleForm.multipleFile.errors%}
      <p>[{{ error }}]</p>
      {% endfor %}
      {{multipleForm.submit() }}
    </form>
  </div>
</section>

<section>
  {%if average_char_rsid is defined %}
  <section>
    <h3>Average number of char per RSID</h3>
    <table>
      {% for filename, average in average_char_rsid.items()%}
      <tr>
        <th>{{ filename }}</th>
        <td>{{ average }}</td>
      </tr>
      {% endfor %}
    </table>
  </section>
  {% endif %}

  {%if average_char_run is defined %}
  <section>
    <h3>Average number of char per RUN</h3>
    <table>
      {% for filename, average in average_char_run.items()%}
      <tr>
        <th>{{ filename }}</th>
        <td>{{ average }}</td>
      </tr>
      {% endfor %}
    </table>
  </section>
  {% endif %}
</section>

{% endblock %}