{% extends "tool1_base.html" %}

{% block head_content %}

<script>
  urlGetRsid = "{{ url_for('tool1.get_rsid')}}";
</script>
  
<script src="../static/visualise.js"></script>

<style>
  {% for rsid, red, green, blue in colours %}
  ._{{rsid}} {
    background-color: rgb({{red}}, {{green}}, {{blue}});
  }
  {% endfor %}
</style>
{% endblock %}

{% block body_content %}
<doc>

</doc>
<section>
  <h1>
    Upload New File
  </h1>
  <form method='POST' action='/visualise', enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.file.label }}
    {{ form.file() }}
    {% for error in form.file.errors%}
    <p>[{{ error }}]</p>
    {% endfor %}
    {{form.submit() }}
  </form>
</section>
<section>
  <h1> Below will be the rendered document</h1>
  <p>
    {% for rsid, text in packed %}
    <span class='_{{rsid}}'>{{text}}</span>
    {% endfor %}
  </p>
  
</section>

{% endblock %}