{% extends "base.html" %}

{% block head_content %}

<script>
  rsids = ["dummy"
    {% for rsid in unique_rsids -%}
    ,"{{ rsid }}"
    {%- endfor %}
  ];
  rsids.shift();
</script>

<script src= {{ url_for('tool1.static', filename='visualise.js') }}></script>

<link rel="stylesheet" type="text/css" href={{ url_for('tool1.static', filename = "tool1_style.css") }}>


<style title = "rsid_css">
  {% for rsid, red, green, blue in colours -%}
  ._{{rsid}} {
    background-color: rgb({{red}}, {{green}}, {{blue}});
  }
  {%- endfor %}
</style>

<style>
  .hidden {
    background-color: rgba(0,0,0,0);
  }
</style>


<title>Visualise</title>
{% endblock %}

{% block body_content %}

{% if docx_content_properties_array is defined %}
<div id="data_docx_content_properties" data-cont_prop='{{docx_content_properties_array | tojson }}'></div>
{% endif %}

<section class="grid-container">
  <!-- Column 1 -->
  <section class="menu">
    <div class="form">
      <p><b>Upload New File</b></p>
      <form method='POST' action='/visualise', enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.file.label }}
        {{ form.file() }}
        {% for error in form.file.errors%}
        <p>[{{ error }}]</p>
        {% endfor %}
        {{form.submit() }}
      </form>
    </div>

    <div class = "form">
      <form>
        <label for="rsid_color">Select Colour</label>
        <input type="color" id="rsid_color" name='rsid_color' value='#ff0000'>
        <label for="select_rsid">Select RSID</label>
        <select name = "select_rsid" id="select_rsid"></select>
        <button type="button" onclick="bcolour_rsid()">Change Colour</button>
        <button type="button" onclick="selected_rsid_toggle_hidden()">Hide this</button>
      </form>
      <button type="button" onclick="rsid_hide_all()">hide all</button>
      <button type="button" onclick="rsid_unhide_all()">unhide all</button>
    </div>

    <!-- Table for Metadata -->
    {% if metadata is defined %}
    <div class = "metadata_display">
      <h3>Metadata</h3>
      <div class = "metadata">
        <table>
          {% for key, value in metadata.items() %}
              <tr>
                <th>{{ key }}</th>
                {% if value == "" or value == None%}
                <td class = "missing">Not avaliable.</td>
                {% else %}
                <td>{{value}}</td>
                {% endif %}
              </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}

    <!-- Section to display properties data -->
    {% if docx_content_properties_array is defined %}
    <section id = "docx_content_properties">
    </section>
    {% endif %}
    
    
  </section>

  <!-- Column 2 -->
  <section class="document_text">
  {% for paragraph in docx_content %}
  <div class = "paragraph">
    {% for text, rsid, index in paragraph -%}
      <p class='_{{rsid}}' title='{{rsid}}' data-rsid_index='{{ index }}'>{{text}}</p>
    {%- endfor %}
  </div>
  {% endfor %}
  
  </section>
</section>




<script>
  init_visualise()
</script>
{% endblock %}