{% extends "base.html" %}

{% block head_content %}

<script>
  rsids = ["dummy"
    {% for rsid in unique_rsids -%}
    ,"{{ rsid }}"
    {%- endfor %}
  ];
  rsids.shift();
</script>
<script src= {{ url_for('tool1.static', filename='visualise.js') }}></script>

<link rel="stylesheet" type="text/css" href={{ url_for('tool1.static', filename = "tool1_style.css") }}>
<style title = "rsid_css">
  {% for rsid, red, green, blue in colours -%}
  ._{{rsid}} {
    background-color: rgb({{red}}, {{green}}, {{blue}});
  }
  {%- endfor %}
</style>
<title>Visualise</title>
{% endblock %}

{% block body_content %}
<section class="grid-container">
  <!-- Column 1 -->
  <section class="menu">
    <div class="form">
      <p><b>Upload New File</b></p>
      <form method='POST' action='/visualise', enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.file.label }}
        {{ form.file() }}
        {% for error in form.file.errors%}
        <p>[{{ error }}]</p>
        {% endfor %}
        {{form.submit() }}
      </form>
    </div>

    <div class = "form">
      <form>
        <label for="rsid_color">Select Colour</label>
        <input type="color" id="rsid_color" name='rsid_color' value='#ff0000'>
        <label for="select_rsid">Select RSID</label>
        <select name = "select_rsid" id="select_rsid">
        </select>
        <button type="button" onclick="bcolour_rsid()">Change Colour</button>
      </form>
   </div>

    {% if metadata is defined %}
    <div class = "metadata">
      <h3>Metadata</h3>
        <div class = "data">
        {% for key, value in metadata.items() %}
          {% if value == "" or value == None%}
            <p>{{key}} : MISSING</p>
          {% else %}
            <p>{{key}} : |{{value}}|</p>
          {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
  </section>

  <!-- Column 2 -->
  <section class="document_text">
  {% for rsid, text, index in packed -%}
    <p class='_{{rsid}}' title='{{rsid}}' data-rsid_index='{{ index }}'>{{text}}</p>
  {%- endfor %}
  </section>
</section>




<script>
  find_rsid_style_index();
  populate_select();
  add_document_text_listeners();
</script>
{% endblock %}