{% extends "base.html" %}

{% block head_content %}
<title>ipLocated</title>
<link rel="stylesheet" href="{{ url_for('tool2.static', filename='tool2_styles.css') }}">
<script src="{{ url_for('tool2.static', filename='tool2_scripts.js') }}" defer></script>

{% endblock %}
{% block body_content %}
<div class="tool2">
    <!-- Dropzone -->
    <div id="dropzone">
        <p id="drop-text">Drop CSV file here</p>
    </div>
    <!-- Filter -->
    <select id="filter">
        <option value="all">All</option>
        <option value="DOMESTIC">DOMESTIC</option>
        <option value="INTERNATIONAL">INTERNATIONAL</option>
        <option value="SUSPICIOUS">SUSPICIOUS</option>
    </select>

    <div class="navigation-buttons">
        <!-- Search bar -->
        <input type="text" id="searchBar" placeholder="Search by username">
        <button class="nav-buttons" id="searchButton">Search</button>
        <button class="nav-buttons" id="resetButton">Reset</button>
        <button class="nav-buttons" id="runDemo">Demo</button>
        </div>

    <!-- Table -->
    <table id="csvTable">
        <tr>
            <th>Username</th>
            <th>IP Address</th>
            <th>Country</th>
            <th>Flag</th>
        </tr>
    </table>
    <!-- Modal -->
    <div id="detailsModal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 9999;">
        <div style="width: 70%; margin: 5% auto; background: #fff; padding: 20px; border-radius: 5px; overflow-y: auto; max-height: 80vh;">
            <span class="close-button" style="float: right; cursor: pointer;" onclick="closeModal()">&times;</span>
            <h2>User Details</h2>
            <p><strong>Username:</strong> <span class="username"></span></p>
            <p><strong>IP Address:</strong> <span class="ip"></span></p>
            <p><strong>Country</strong> <span class="country"></span></p>
            <p><strong>City</strong> <span class="city"></span></p>
            <p><strong>Latitude:</strong> <span class="latitude"></span></p>
            <p><strong>Longitude:</strong> <span class="longitude"></span></p>
            <p><strong>Flag</strong> <span class="flag"></span></p>
            <div id="mapContainer" style="height: 400px; max-width: 100%; overflow: hidden;"></div>
        </div>
    </div>
    <!-- Download -->
    <button id="downloadButton">Download</button>
    <button id="clearButton">Clean</button>
</div>
{% endblock %}

