{% extends "base.html" %}

{% block head_content %}

<title>Cheating Detection Tool</title>
{% endblock %}

{% block body_content %}

<section class="contacts">
    <h1 class="text-center" id="contacts-title">Meet The Team</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card h-100">
            <img src= {{ url_for('main.static', filename='profile.png')}} class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">William Salim</h5>
              <p class="card-text">23291312<br>Bachelor of Science <br>Cybersecurity and Computer Science</p>
              <p>LinkedIn: <a href="https://www.linkedin.com/in/william-salim/"> William-Salim </a></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src= {{ url_for('main.static', filename='profile.png')}} class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">David Wang</h5>
              <p class="card-text">23064036<br>Bachelor of Science<br>Software Engineering</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src= {{ url_for('main.static', filename='profile.png')}} class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Jordon Lu</h5>
              <p class="card-text">23280322<br>Bachelor of Science<br>Computer Science and Data Science</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src= {{ url_for('main.static', filename='profile.png')}} class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Aby Dandyaksa</h5>
              <p class="card-text">23057364</p>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src= {{ url_for('main.static', filename='profile.png')}} class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Sean Lixu</h5>
                    <p class="card-text">23445997</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src= {{ url_for('main.static', filename='profile.png')}} class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Qiya Yu</h5>
                    <p class="card-text">22957353</p>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}