{% extends "base.html" %}

{% block head_content %}

<title>Cheating Detection Tool</title>
{% endblock %}

{% block body_content %}

<section class="hero">
  <div class="hero-text">
    <h5>TEAM 21</h5>
    <h4>CITS3200 - Professional Computing</h4>    
    <h1>JOKITOT</h1>
    <p>A cheating detection tool that analyses docx documents for its XML constituent parts and metadata</p>
    <a href="/visualise"> Tool1 </a>
    <a href="/tool2" class="ctaa">Tool2</a>
  </div>

  <div class="hero-img">
    <img src= {{ url_for('main.static', filename='investigator.png')}} id="investigator">
  </div>
</section>

<section class="divider">
  <h3 class="text-center"> What is JOKITOT </h3>
</section>
  
<div class="container description">
  <div class="row">
    <div class="col">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src={{ url_for('main.static', filename='example1.png')}} class="d-block w-100" alt="..." id="example1">
            <div class="carousel-caption d-none d-md-block">
              <h5>Suspicious Document</h5>
              <p>Large block of text with less runs</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src={{ url_for('main.static', filename='example2.png')}} class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Genuine Document</h5>
              <p>Multiple runs scattered throughout the document</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col">
      <h4>Tool 1</h4>
      <p>Examines .docx document for metadata and analyse its constituent XML parts. Each run (single editing session) is colour coded to provide a visualisation into how the document was written. </p> <p>In a genuine document, the number of words will have a positive correlation to the number of runs present. Large documents will on average have higher number of saves and edits, thus, increasing the number of RSID values recorded</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h4>Tool 2</h4>
      <p>Examines .docx document for metadata and analyse its constituent XML parts. Each run (single editing session) is colour coded to provide a visualisation into how the document was written. </p> <p>In a genuine document, the number of words will have a positive correlation to the number of runs present. Large documents will on average have higher number of saves and edits, thus, increasing the number of RSID values recorded</p>
    </div>
    <div class="col">
      <img src={{ url_for('main.static', filename='tool2example.png')}} class="d-block w-100" alt="...">
    </div>
  </div>
</div>

{% endblock %}