{% extends "base.html" %}

{% block head_content %}
<link rel="stylesheet" type="text/css" href={{ url_for('main.static', filename="style.css") }}>
<title>Cheating Detection Tool</title>
{% endblock %}

{% block body_content %}

<section class="parallax">
  <!--
  <img src= {{ url_for('main.static', filename='clouds.png')}} id="clouds">
  <img src={{ url_for('main.static', filename='stars.png')}} id="stars">
  <img src={{ url_for('main.static', filename='moon.png')}} id="moon">
  -->
  <h1 id="text">CHEATING</h1>
  <h2 id="text">DETECTION TOOL</h2>
</section>

{% endblock %}