<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cheating Tool 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <h1>CHEATING TOOL 2</h1>
    <div id="dropzone">
        <p>Drop CSV file here</p>
    </div>
    <table id="csvTable">
        <tr>
            <th>IP Address</th>
            <th>Username</th>
            <th>Country</th>
        </tr>
    </table>

    <button id="downloadButton">Download</button>
    <button id="clearButton">Clean</button>
</body>
</html>
