@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

@media print {
  body {-webkit-print-color-adjust: exact;}
  }

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  background-color: rgb(255, 255, 255);
}


.form{
  margin-top: 7%;
  margin-bottom: 2%;
}

button{
  border-radius: 8px;
  padding: 5px;
}


/*
 Makes grid pattern.
*/
.grid-container {
  padding: 0;

  display: grid;
  column-gap: 1vw;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* Updated column definition */
  grid-template-rows: repeat(1, minmax(0, 1fr)); /* Updated row definition */
  justify-content: center;
  align-content: start;
}

.document_meta {
  grid-row: 1;
  grid-column: 1;
}

.document_text {
  grid-row: 1;
  grid-column: 2;
  padding: 3%;
}

.paragraph > p {
  display:inline;
}

.menu {
  align-self: start;
  position: -webkit-sticky;
  position: sticky;
  background-color: rgba(200, 200, 200);
  
  top: 2vh;
}


.metadata > table {
  width: 100%;
}

.metadata > table tr {
  max-width: 10px;
}

.metadata > table td, .metadata > table th {
  padding: 0.3rem;
  border-bottom: 1px solid #ddd;
}

.metadata > table .missing {
  font-style: italic;
  
}

.subnav{
  margin: 20px;
}

/*
CSS Styling related to section class "menu". - excluding the drop zone.
*/
.menu h1 {
  font-size: 1.2rem;
}

.menu label {
  display: none;
}
